<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listUserServlet</servlet-name>
    <servlet-class>web.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listUserServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delUserServlet</servlet-name>
    <servlet-class>web.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delUserServlet</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>liststudentServlet</servlet-name>
    <servlet-class>web.ListStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>liststudentServlet</servlet-name>
    <url-pattern>/listStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listAlarmstudentServlet</servlet-name>
    <servlet-class>web.ListAlarmStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAlarmstudentServlet</servlet-name>
    <url-pattern>/listAlarmStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listTeacherServlet</servlet-name>
    <servlet-class>web.ListTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listTeacherServlet</servlet-name>
    <url-pattern>/listTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListImmuStudentServlet</display-name>
    <servlet-name>ListImmuStudentServlet</servlet-name>
    <servlet-class>web.ListImmuStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListImmuStudentServlet</servlet-name>
    <url-pattern>/listImmuStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAlarmImmuStudentServlet</display-name>
    <servlet-name>ListAlarmImmuStudentServlet</servlet-name>
    <servlet-class>web.ListAlarmImmuStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAlarmImmuStudentServlet</servlet-name>
    <url-pattern>/listAlarmImmuStudent</url-pattern>
  </servlet-mapping>
</web-app>